canvas {
	padding: 0;
	margin: auto;
	display: block;
}

@font-face {
	font-family: 'Futuristic';
	src: url('finalGameAssets/fonts/game_of_squids-webfont.woff2') format('woff2');
	src: url('finalGameAssets/fonts/game_of_squids-webfont.woff') format('woff');
}
